{% extends 'base.html'%}



{% block body%}



        
        <div class="content">
            <h1>Naveen kumar <br><span>Chauhan</span> <br>About me</h1>
            <p class="par"I am  21-year-old BCA student .I enjoys learning new things and coding. <br>  
                 i am kind and hard working, but can
                <br> also be very extroward and a bit impatient </p>

                <button class="cn"><a href="static/1.pdf">DOWNLOAD CV</a></button>

                <div action="/login" method="POST" class="form">
                    <h2>Login Here</h2>
                    <button type="submit"  class="btnn"><a href="login">Login</a></button>
                    

                    <p class="link">Don't have an account<br>
                    <a href="signup">Sign up </a> here</a></p>
                    <p class="liw">Log in with</p>

                    <div class="icons">
                        <a href="signup"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="valt"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>



{% endblock body%}

